<div class="container-fluid">
  <div class="row">
      <div id="map" class="col-md-12 shadow bg-white rounded m-3 p-2" ></div>
  </div>

</div>


<app-teaser id="popup" [title]="hoveredPlace['teaseText']" [placeName]="hoveredPlace['title']" [backgroundImage]="hoveredPlace['teaseImage']"></app-teaser>

<!-- Button trigger modal -->
<button style="display:none" id="buttonText" type="button" class="btn btn-primary" data-toggle="modal" data-target="#dialog">
    Launch demo modal
</button>


<div id="dialog" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{hoveredPlace['title']}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Stories coming soon!!</p>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
