<div class="container-fluid">
<div id="map" ></div>
<!-- <div *ngIf="showDialog" id="dialog">This is dialog {{content}}</div> -->
</div>


<img id="image" src="assets/destination.png" height="16px" width="16px"/>

<!-- <div id="popup">TEST</div> -->

<app-popover id="popup"></app-popover>
<!-- <button id="popup" type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
    Popover on top
</button> -->

<!-- Button trigger modal -->
<button style="display:none" id="buttonText" type="button" class="btn btn-primary" data-toggle="modal" data-target="#dialog">
    Launch demo modal
</button>


<div id="dialog" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Modal body text goes hereModal body text goes here.Modal body text goes here.Modal body text goes here.Modal body text goes here.
            Modal body text goes here.Modal body text goes here.Modal body text goes here.
            Modal body text goes here.Modal body text goes here.Modal body text goes here.
            Modal body text goes here.Modal body text goes here.Modal body text goes here.Modal body text goes here.
            Modal body text goes here.Modal body text goes here.Modal body text goes here.Modal body text goes here.
            
            Modal body text goes here.Modal body text goes here.Modal body text goes here.
            
            Modal body text goes here.Modal body text goes here.Modal body text goes here.Modal body text goes here.Modal body text goes here.
            Modal body text goes here.Modal body text goes here..</p>
            Modal body text goes here.Modal body text goes here.
            Modal body text goes here.
            Modal body text goes here.
            Modal body text goes here.
            Modal body text goes here.

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>