<div class="container-fluid">
  <div class="row">
      <div id="map" class="col-md-12 shadow bg-white rounded m-3 p-2" ></div>
  </div>

</div>


<app-teaser id="popup" [title]="hoveredPlace['teaseText']" [placeName]="hoveredPlace['title']" [backgroundImage]="hoveredPlace['teaseImage']"></app-teaser>

<!-- Button trigger modal -->
<button style="display:none" id="buttonText" type="button" class="btn btn-primary" data-toggle="modal" data-target="#dialog">
    Launch demo modal
</button>


<div  *ngIf="this.clickedPlace['storyImages']"  id="dialog" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
      <div class="modal-content">
        <!-- <div class="modal-header">
        
     
        </div> -->
        <div class="modal-body" style="padding:0">
          <!-- <button style="float:right; margin:2px" type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button> -->
          <!-- <h2 class="modal-title">{{hoveredPlace['teaseText']}}-{{hoveredPlace['title']}}</h2> -->
          <app-story [storyText]="this.clickedPlace['storyText']" [data]="this.clickedPlace['storyImages']"></app-story>
        
        </div>
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div> -->
      </div>
    </div>
  </div>

