<section class="intro">
  <div class="intro-text">
    <ngx-typed-js
      [contentType]="'html'"
      [strings]="[
        'Hi! ^1000 <br> I am Mohit ^1000 <br> Me solving world problems by writing code ^1000 <br> Travel and Food are my hobbies ^1000 <br> Trying to learn cooking and reading these days '
      ]"
    >
      <h2 class="typing"></h2>
    </ngx-typed-js>
  </div>

  <div class="navigation">
    <img
      width="150px"
      height="auto"
      src="assets/buttonPhotos.png"
      (click)="scrollSection('photos')"
    />
    <img
      width="150px"
      height="auto"
      src="assets/buttonCode.png"
      (click)="scrollSection('code')"
    />
    <img
      width="150px"
      height="auto"
      src="assets/buttonTravel.png"
      (click)="scrollSection('travel')"
    />
  </div>
</section>

<section id="photos">
  <ng-container *ngFor="let data of photoData">
    <app-teaser
      [placeName]="data.name"
      [backgroundImage]="data.image"
      [width]="this.cardWidth"
      [height]="this.cardHeight"
    ></app-teaser>
  </ng-container>
</section>

<section id="travel">
  <span style="color: #f5e0da"
    >I swear this would have been better without the Pandemic</span
  >

  <app-map></app-map>
</section>
