img {
    width: 100%;
    height:80vh;
    object-fit:cover;
    object-position: center;
    margin: auto;
}

.carousel.carousel-fade .carousel-item {
    display: block;
    opacity: 0;
    transition: opacity ease-out .7s;
}

.carousel.carousel-fade .carousel-item.active {
    opacity: 1 !important;
}