<div *ngIf="data&&data.length>0; else comingUp" class="container-fluid" style="padding:0">
    <div class="row">
        <div class="col-md-8 story-image" >
            <div   id="carouselExampleControls" class="carousel slide  carousel-fade" data-interval="1000" data-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active" data-interval="2500">
                    <img [src]="data[0]['imageUrl']" class="d-block w-100" [alt]="data[0]['caption']">
                    <div class="carousel-caption d-block">
                        <p> <span style=" background: rgba(0, 0, 0, 0.3);
                        border-radius: 5%;" [innerHtml]="data[0]['caption']"></span></p>
                      </div>
                  </div>
                  <ng-container *ngFor="let item of data;let i = index;">
                    <ng-container *ngIf="i>0">
                      <div class="carousel-item" data-interval="2500">
                        <img [src]="item['imageUrl']" class="d-block w-100" [alt]="item['caption']">
                        <div class="carousel-caption d-block">
                            <p><span style=" width:auto;   background: rgba(0, 0, 0, 0.3);
                            border-radius: 5%;" [innerHtml]="item['caption']"></span></p>
                          </div>
                      </div>
                    </ng-container>
                 
                  </ng-container>
                
                
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
        </div>
        <div class="col-md-4" style=" scroll-behavior: smooth;
        height: 80vh;
        overflow: auto;
        padding:10px" >
            <span style="padding:10px" [innerHtml]="storyText"></span>
        </div>
    </div>
</div>

<ng-template #comingUp>
  Story Coming Soon
</ng-template>